.header {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logoLink {
  text-decoration: none;
  color: inherit;
}

.logo {
  margin: 0;
  height: 40px; /* SVGの高さを指定 */
  width: auto; /* 幅は自動調整 */
}
