.main {
  display: grid;
  min-height: 100svh;
  place-items: center;
  padding: 6rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 28rem;
}

.textAreaWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  resize: none;
  overflow-y: hidden;
}

.button {
  padding: 0.25rem 0.75rem;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.removeButton {
  background-color: #ef4444; /* red-500 */
}

.removeButton:hover {
  background-color: #dc2626; /* red-600 */
}

.addButton {
  background-color: #3b82f6; /* blue-500 */
  align-self: flex-start;
}

.addButton:hover {
  background-color: #2563eb; /* blue-600 */
}
